story
  #init
    p Hmmm.. Where am I..? What is this place..?
  #door1
    p It's locked!
  #door2
    p It's locked!
  #door3
    scene maze
  #door4
    p Morbi facilisis luctus risus accumsan tincidunt. Sed ut quam vitae mauris semper condimentum. Donec et sodales quam. Nam molestie euismod ullamcorper. Nunc tincidunt elit eget nibh interdum, facilisis consectetur purus venenatis. Quisque tincidunt imperdiet consectetur. Vivamus nunc turpis, semper id tempor sed, porttitor in justo. Aliquam eget vulputate turpis. Suspendisse vitae mauris pellentesque, vestibulum nisl sed, maximus dolor. Curabitur sit amet tempus massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis eros libero, eleifend a odio ac, tincidunt efficitur massa. Nullam eu interdum quam, et convallis tortor. Ut et lectus id felis faucibus condimentum. Sed maximus id magna sit amet lobortis. Phasellus dui ex, sodales id sodales ac, venenatis pharetra augue.
    p In other words...
    p It's locked!
    