story
  #init
    p(if="{true}") Hello
    p Goodbye { var now = new Date(); now.toString(); }
  #maze
    p I think Imma go to teh maze 'n' stuff...
    p Yea.. That's what Imma do... Yea.. Right.. Imma do it now.. Any minute now.. You'll see.. Here I go..
    scene maze
    