story
  #init
    pre.
      {
        $.food = 100;
        $.sleep = 100;
        "+"
      }
  #enter
    pre #wisdom
  #wisdom
    wait {game.frameRate * 4}
    track #wisdom_{s.getVisits(".")}
    pre #wisdom_{s.getVisits(".")}
  #wisdom_1
    wait {game.frameRate * 10}
    p Hello..?
    pre #exit
  #wisdom_2
    wait {game.frameRate * 8}
    p So...
    p This is your life..?
    pre #exit
  #wisdom_3
    wait {game.frameRate * 4}
    p Is this really how you want to live..?
    p Is this how you want to die..?
    wait {game.frameRate * 4}
    p You're alive, but you're not living..
    pre #exit
  #wisdom_4
    wait {game.frameRate * 2}
    p What are you waiting for..?
    p Your life to be over..?
    wait {game.frameRate * 4}
    p There's nothing to wait for..
    p Death will come anyway..
    pre #exit
  #wisdom_5
    wait {game.frameRate * 1}
    p You're still waiting..?
    wait {game.frameRate * 4}
    p Why..?
    wait {game.frameRate * 4}
    p Is this all you're worth..?
    wait {game.frameRate * 4}
    p The world doesn't define your worth..
    p Only you can decide..
    pre #exit
  #wisdom_6
    p I know the world can be a scary place..
    p It's okay..
    wait {game.frameRate * 4}
    p I know you feel that you're not good enough..
    p But I believe in you..
    wait {game.frameRate * 4}
    p I know you think that you're just going to fail..
    p And you'd be right..
    wait {game.frameRate * 4}
    pre #exit
  #wisdom_7
    p Are you afraid of failing..?
    p Afraid or not.. You WILL fail..
    wait {game.frameRate * 4}
    p Are you afraid of loosing..?
    p Win or lose.. You will still fail..
    wait {game.frameRate * 4}
    p You don't lose by failing..
    p You lose by quitting..
    wait {game.frameRate * 4}
    p Do whatever you want.. just don't quit..
    pre #exit
  #wisdom_8
    p Quitting already..?
    p I told you you'd fail..
    wait {game.frameRate * 4}
    p But it's better to fail than never try..
    wait {game.frameRate * 4}
    p Now try again..
    wait {game.frameRate * 4}
    p try again..
    wait {game.frameRate * 4}
    p and again..!
    wait {game.frameRate * 4}
    p AGAIN..!!
    wait {game.frameRate * 4}
    p ONE MORE TIME..!!!
    pre #exit
  #wisdom_9
    p Back for more pain..?
    wait {game.frameRate * 4}
    p Am I being too hard on you..?
    p Did I expect too much..?
    wait {game.frameRate * 4}
    p What did YOU expect..?
    wait {game.frameRate * 4}
    p Don't expect to succeed..
    p Expect only to progress..!
    wait {game.frameRate * 4}
    p If you can't run, then walk..
    p If you can't walk, then crawl..
    p No need to go fast.. Only forward..
    pre #exit
  #wisdom_10
    wait {game.frameRate * 8}
    p ...what..?
    wait {game.frameRate * 16}
    p What more do you want from me..?
    wait {game.frameRate * 32}
    p I already told you everything you need to know..
    wait {game.frameRate * 64}
    p I guess there is one more thing...
    wait {game.frameRate * 128}
    p Call your friends..
    wait {game.frameRate * 256}
    p Your friends will help you..
    wait {game.frameRate * 512}
    p You deserve to be loved..
    wait {game.frameRate * 1024}
    p No.. I can't be your friend..
    p I'm just a computer game..
    wait {game.frameRate * 2048}
    p You can do it..
    wait {game.frameRate * 4096}
    p Just go...
    wait {game.frameRate * 4096 * 2}
    p ...
  #exit
    wait {game.frameRate * 4}
    scene bedroom



