story
  #init
    pre.
      {
        $.food = 100;
        $.sleep = 100;
        "+"
      }
    wait {game.frameRate * 3}
    pre #wisdom
  #enter
    wait {game.frameRate * 32}
    scene bedroom
  #wisdom
    p I should buy a boat..
    wait {game.frameRate * 1}
    p Chicks digs scars..
    wait {game.frameRate * 1}
    p You miss 100% of the shots you don't take..
    wait {game.frameRate * 1}
    pre #wisdom