story
  #init
    pre.
      {
        $.food = 100;
        $.sleep = 100;
        "+"
      }
  #enter
    pre #wisdom
  #wisdom
    wait {game.frameRate * 4}
    pre #wisdom_{s.getVisits(".")}
  #wisdom_1
    wait {game.frameRate * 10}
    p Hello..?
    scene bedroom
  #wisdom_2
    wait {game.frameRate * 8}
    p What are you waiting for..?
    p Your life to be over..?
    scene bedroom
  #wisdom_3
    p This is your third dream..
    scene bedroom

//
  p You don't think you're worth more..?
  p You think dreams are only for

  p Is this really how you want to live..?
  p Is this really how you want to die..?

  p You're alive, but you're not living..

  p I know the world can be a scary place..
  p It's okay..

  p I know you feel that you're not good enough..
  p But I believe in you..

  p I know you think that you're just going to fail..
  p And you'd be right..

