story
  #init
    pre.
      {
        $.food = 100;
        $.sleep = 100;
        "+"
      }
    wait {game.frameRate * 3}
    pre #wisdom
  #enter
    wait {game.frameRate * 32}
    scene bedroom
  #wisdom
    p ...
    wait {game.frameRate * 10}
    p Hello..?
    wait {game.frameRate * 10}
    p What are you waiting for..?
    wait {game.frameRate * 10}
    p It's okay to be afraid..
    wait {game.frameRate * 10}
    p Hey..
    wait {game.frameRate * 4}
    p I believe in you..
    wait {game.frameRate * 4}
    p You're better than this..
    wait {game.frameRate * 4}
    p Don't be afrad to dream..
    wait {game.frameRate * 4}
    pre #wisdom