@import url('https://fonts.googleapis.com/css?family=Coming+Soon|Rock+Salt');
@page-width: 48em;
@import "_reset";
@msr: 1.125em;
@import "_basics";

@import "_webJoypad";
@import "_fullscreen";

html, .fullscreen {
  font-family: "Coming Soon", cursive;
  transition-duration: 1s;

  h1, h2, h3 {
    font-family: "Rock Salt", cursive;
    word-spacing: 1em;
  }

}
.dream {
  background-color: #001;
  color: #ffe;
}

.dream :fullscreen { .dream(); }
.dream :-moz-full-screen { .dream(); }
.dream :-webkit-full-screen { .dream(); }
